<%- include('header', {title: `Bird Note`}); -%>

  <h1 style="text-align: center">Birding Note</h1>
  <div class="container">
    <form action="/sighting" method="POST">
      <div class="col-md-12 mb-3 submit-label">
        <label for="details" class="form-label">Text</label>
        <textarea disabled class="form-control" name="details" rows="3"><%= data[0].details %></textarea>
      </div>
      <div class="col-md-12 mb-3 submit-label">
        <label for="behavior" class="form-label">Text</label>
        <textarea disabled class="form-control" name="behavior" rows="3"><%= data[0].behaviour %></textarea>
      </div>
      <div class="col-md-12 mb-3 submit-label">
        <label for="flocksize" class="form-label">Text</label>
        <textarea disabled class="form-control" name="flocksize" rows="3"><%= data[0].flocksize %></textarea>
      </div>

      <br>
      <br>

      <%- include('footer'); -%>