<%- include('header', {title: `Submit Note`}); -%>

  <h1 style="text-align: center">Submit Birding Note</h1>
  <div class="container">
    <form action="/note" method="POST">
      <div class="col-md-12 mb-3 submit-label">
        <label for="date" class="form-label">Date</label>
        <textarea type="date" class="form-control" name="date" rows="3" placeholder="yyyy-mm-dd"></textarea>
      </div>
      <div class="col-md-12 mb-3 submit-label">
        <label for="behaviour" class="form-label">Behaviour</label>
        <textarea class="form-control" name="behaviour" rows="3"></textarea>
      </div>
      <div class="col-md-12 mb-3 submit-label">
        <label for="flocksize" class="form-label">Flock Size</label>
        <textarea class="form-control" name="flocksize" rows="3"></textarea>
      </div>
      <div class="col-md-12 mb-3 submit-label">
        <label for="flocksize" class="form-label">Species</label>
        <br>
        <select name="speciesId">
          <% species.forEach((type)=> { %>
            <option value="<%= type.id %>">
              <%= type.name %>
                (<%= type.scientific_name %>)
            </option>
            <% }); %>
        </select>
      </div>
      <div class="col-md-12">
        <input type="submit" value="Submit">
      </div>
      <br>
      <div class="col-md-12">
        <input type="reset">
      </div>
      <br>
      <br>
      <br>

      <%- include('footer'); -%>